
* {
  font-size: 16px;
}

$font-1:  'Poppins', sans-serif;
$font-2 : 'Open Sans', sans-serif;

body {
  background: hsl(257, 40%, 49%) url(../images/bg-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat; 
}

.container { 
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin: 60px 80px 40px 80px;
}

.logo{
  display:flex;
  height:80px;
  margin-bottom: 20px;  
  }

  
.intro{
  display:flex;
  flex-wrap:wrap;
}

.image-hero img{
  max-width:100%;
  min-width:320px;
  height:auto;
  display:block;
  background-repeat:no-repeat;
  margin-right:50px;
}

.description{
  margin-top: 20px;  
  color:white;
}

.text-main{
  font-size:1.5em;
h1{
  font-family: $font-1;
}
}

.text{
  margin-bottom: 30px;
  max-width: 600px; 
  p{
    font-size: 1.1em;
    font-family: $font-2;
    line-height: 1.5em;
    letter-spacing: 0.5px;
  } 
}

.btn {
  padding: 18px 70px;
  background-color: white;
  border: none;
  border-radius: 30px;
  font-family: $font-1;
  font-size: 1em;
  color: hsl(257, 40%, 49%);
  cursor: pointer;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.3);
&:hover{
  background: rgba(233,128,231,255);
  color:white; 
}
}
